/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 avr. 2020, 18:15:35
    Author     : marie
*/

<<<<<<< HEAD
     form, body,ul, a {
        list-style-type: none;
        text-decoration: none;
        text-align: center;
        background: silver;
        }
      input{
        text-align: center;  
        }
=======
form, html, input, head,p,h,ul{
    text-align: center;
    list-style-type: none; 
}
html,form,head{
    background: gray;  
}
>>>>>>> 30047a8f21d5e705ccf9d5871a9ba1b3f3974628
