/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 mai 2020, 18:10:43
    Author     : 33789
*/

 form, html, input, head,p,h,ul{
                text-align: center;
                list-style-type: none; 
            }
            html,form,head{
               background: url(Images/produits_alim.PNG);  
            }