<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <img src="https://drive.google.com/uc?id=1TbXuzACXN3wfbFzLaNm2TeukEMnJ3Tf0" alt="Logo de l'épicerie" id="logo" />
    <h1>Ma Commande</h1>
    <select>
        <option> Madame</option>option>
        <option> Monsieur</option>option>
    </select><br>

    <br><form method="POST">

        <div>
            <label for="lastname">NOM :</label>
            <input type="text" id="lastname"name="lastname_name">

        </div><br><form action="/editer données personnelles" method="post">
            <br><form action="/editer données personnelles" method="post">
                <div>
                    <label for="lastname">Prénom :</label>
                    <input type="text" id="firsttname"name="first_name">

                </div><br><form action="/editer données personnelles" method="post">
                    <br><form action="/editer données personnelles" method="post">

                        <div>
                            <label for="lastname">FONCTION :</label>
                            <input type="text" id="lastname"name="fonction_name">
                        </div><br><form action="/editer données personnelles" method="post">

                            </head>
                            <body>
                                <div>TODO write content</div>
                            </body>
                            </html>

