<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ma commande</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylecss">
    </head>
    <h1>Ma Commande</h1>
    <select>
        <body>
        <option> Madame</option>option>
        <option> Monsieur</option>option>
    </select><br>

    <br><form action="/editer données personnelles" method="post">

        <div>
            <label for="lastname"> NOM :</label>
            <input type="text" id="lastname" name="lastname_name">

        </div><br>
            <br>
                <div>
                    <label for="firstname">Prénom :</label>
                    <input type="text" id="firsttname" name="first_name">

                </div><br>
                    <br> 

                        <div>
                            <label for="firstname">Fonction :</label>
                            <input type="text" id="Fonction"name="fonction_name" >
                        </div><br> 
                        <div>
                            <label for="address">Adresse :</label>
                            <input type="text" id="address"name="address">
                        </div><br><div>

                            <label for="ville">Ville :</label>
                            <input type="text" id="ville"name="ville" >
                        </div><br>
                        <div>
                            <label for="code postal">Code Postal :</label>
                            <input type="text" id="code postal"name="code postal">
                        </div><br>
                        <div>
                            <label for="region">Région :</label>
                            <input type="text" id="region"name="region">
                        </div><br>

                        <div>
                            <label for="pays">Pays :</label>
                            <input type="text" id="pays"name="pays">
                        </div><br>

                        <div>
                            <label for="fax">Fax :</label>
                            <input type="text" id="fax"name="fax" >
                        </div><br>
                        <button type="submit" id="button">
                        <span>
                            Enregistrer
                        </span>
                    </button>

                            </body>
                        </form>
                        <script type="text/javascript" src="donnees.jsp"></script>
                            </html>

